body{
    background-image: linear-gradient(0deg,#f6b6c7,#ffefd6);
    margin:0;
    min-height:100vh;
}

.card{
    display:flex;
    justify-content:center;
    align-content:center;
}

button{
    display:flex;
    justify-content:center;
    align-content:center;

    border-radius:10rem;
    border-color:#ffefd6;
}

button:hover{
    border-color:#f6b6c7;
    transform:scale(1.05);
}